<div class="center">
    <div class="pic">
        <img src="http://8900-presscdn-0-84.pagely.netdna-cdn.com/wp-content/themes/beautycon/assets/img/avatar-grey.png" height="250">
    </div>

    <div class="info">
            <p><strong><%='ADMIN' if @user.admin%></strong></p>
            <p><strong>Name: </strong><%=@user.name%></p>
            <p><strong>Tickets: </strong><%=@user.tickets%></p>
            <p><strong>Mood: </strong><%=@user.mood%></p>
            <p><strong>Height: </strong><%=@user.height%></p>
            <!-- TODO: Replace with link_to for edit -->
            <!-- TODO: Replace with link_to for attractions -->
            <a href="/attractions">See attractions</a>
        </p>
    </div>
    <%= link_to  "Log Out", destroy_user_session_path, method: :delete %>
</div>